{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
{% load static %}
<style media="screen">
  body,html{
    /* background-image: url("https://images3.pixlis.com/background-image-horizontal-lines-and-stripes-seamless-tileable-dark-orange-white-22hvzd.png"); */
		background-image: url({%static "accounts/2.jpg"%});

	}
</style>
<div class="container">
<p>
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="jumbotron">
		<h1><b>Edit your profile.<b></h1>
		Email:{{ form.email }}<br><br>
	First Name:{{ form.first_name }}<br><br>
	Last Name:{{ form.last_name }} <br><br>

  {{form1.as_p}}
</div>
<button type="submit"  class="btn btn-primary btn-sm">Confirm</button>


</p>
</form>
</div>
{% endblock %}
